@media only screen and (min-device-width: 300px) {
}

@media only screen and (min-device-width: 600px) {
}

@media only screen and (min-device-width: 900px) {
}

@media only screen and (min-device-width: 1200px) {
  #screenname {
    text-align: left;
    margin-left: 30px;
  }

  .creator_profile_content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
  }

  #creator_profile_email_label {
    grid-area: creator_profile_email_label;
  }
  #creator_profile_email_address {
    grid-area: creator_profile_email_address;
  }
  #creator_profile_mobile_label {
    grid-area: creator_profile_mobile_label;
  }
  #creator_profile_mobile_info {
    grid-area: creator_profile_mobile_info;
  }

  .creator_profile_contact_info {
    max-width: 300px;
    display: grid;
    gap: 5px;
    justify-items: start;
    grid-template-areas:
      "creator_profile_email_label creator_profile_email_address"
      "creator_profile_mobile_label creator_profile_mobile_info";
  }

  .creator_profile_contact_info {
    margin-bottom: 10px;
  }

  .creator_profile_contact_info p {
    margin: 0;
  }

  .creator_account_picture {
    max-width: 300px;
  }

  .creator_profile_social_media_icons {
    max-width: 300px;
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .creator_profile_social_media_icons {
    color: #5c1122;
  }

  .creator_uploads_list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
  }
}
