@media only screen and (min-device-width: 300px) {
    
  }
  
  @media only screen and (min-device-width: 600px) {
   
  }
  
  @media only screen and (min-device-width: 900px) {
  }
  
  @media only screen and (min-device-width: 1200px) {
   
    .content {
        display: flex;
        padding-top: 30px;
    }

    .left {
        padding-bottom: 25px;
    }

    .about_film {
        padding-left: 25px;
    }
    
  }