h1,
h2,
h3 {
  text-align: center;
}

.film_page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video {
    width: 100%;
    height: auto;
}

#or {
    text-align: center;
}

.trailer_or_pay {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #pay {
    text-align: center;
    margin-top: 10px;
  }
  
  #pay p {
    padding: 10px;
  }

  .film_info {
    padding-left: 10px;
    padding-right: 10px;
  }