main {
  display: flex;
  flex-direction: column;
}

.homepage_picture {
  width: 100%;
}

.homepage_text {
  padding: 5px;
}

.hompage_text p {
  padding: 5px;
}

.homepage_cta {
  text-align: center;
  margin-top: 10px;
}

.homepage_cta p {
  padding: 10px;
}

#browse_link,
#film_creator,
#film_title {
  color: var(--sqe_secondary_button_color);
}

#browse_link:visited,
#film_title:visited,
#film_creator:visited {
  color: var(--sqe_main_color);
}

#browse_link {
  text-decoration: underline;
}

h1 {
  text-align: center;
}

.hompage_top h2,
.hompage_bottom h2 {
  text-align: center;
}

.filmlist_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.film_item {
  margin-bottom: 10px;
}

.hompage_bottom {
  margin-bottom: 10px;
}
