.choose_role {
    text-align: center;
}

#link_to_watcher_login {
    font-weight: bold;
    color: var(--sqe_secondary_button_color);
    text-decoration: underline;
}

#link_to_watcher_login :visited {
    color: var(--sqe_main_color);
    text-decoration: underline;
}

.role_button {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.login_form_section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login_button_section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#join_us {
    color: var(--sqe_secondary_button_color);
}

#join_us:visited {
    color: var(--sqe_main_color);
}