@import "./constant.css";

/*Common*/

@import "./common.css";

/*Header*/
@import "./header.css";
@import "./header_media.css";

/*Footer*/

@import "./footer.css";
@import "./footer_media.css";

/*Home page*/

@import "./home.css";
@import "./home_media.css";

/*About page*/

@import "./about.css";
@import "./about_media.css";

/*Search page*/

@import "./search.css";
@import "./search_media.css";

/*Create account page*/

@import "./create_account.css";
@import "./create_account_media.css";

/*Account created page*/

@import "./account_created.css";

/*Login page*/
@import "./login.css";
@import "./login_media.css";
@import "./login_watcher.css";
@import "./login_watcher_media.css";

/*Creator profile page*/

@import "./creator.css";
@import "./creator_media.css";

/*Creator public profile*/

@import "./creator_public.css";
@import "./creator_public_media.css";

/*Watcher account page*/

@import "./watcher.css";
@import "./watcher_media.css";

/*Film page*/

@import "./film.css";
@import "./film_media.css";

/*Payment summary*/
@import "./payment_summary.css";

/*Payment page*/
@import "./payment.css";
@import "./payment_media.css";

/*Payment success*/
@import "./payment_success.css";

/*Contact page*/

@import "./contact.css";
