@media only screen and (min-device-width: 300px) {
}

@media only screen and (min-device-width: 600px) {
}

@media only screen and (min-device-width: 900px) {
}

@media only screen and (min-device-width: 1200px) {
  .watcher_account_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
}
